body {
    max-height: 100%;
    max-width: 100%;
    font-family: 'Lora', 'Times New Roman', serif;
}

h1 {
    font-family: 'Lora', 'Times New Roman', serif;
    text-align: center;
}

#output {
    font-family: 'Lato', 'Verdana', sans-serif;
}